#sidebar {
    border: 0;
}

#sidebar > a.btn, #sidebar .panel-body a.btn {
    display: block;
    width: 100%;
    margin: 4px 0;
    white-space: normal;
}

#sidebar .panel-subtitle {
    font-size: 12px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.probe-tab-container {
    border-bottom: 1px solid #ddd;
    margin: 0 15px 12px 15px;
    padding: 0;
    position: relative;
    width: calc(100% - 30px); /* 30px = horizontal margins */
}

.scrollable-tabs {
    white-space: nowrap;
}

.probe-tab-container .btn.scroll-action {
    display: none;
}

.probe-tab-container.scrollable-tabs .btn.scroll-action, #probe-tab-style-toggle {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 4px;
    padding: 0;
    width: 20px;
}

#probe-tab-style-toggle {
    position: absolute;
    top: 4px;
    right: 0;
}

.scrollable-tabs .nav-tabs.probe-tabs {
    display: inline-block;
    margin-bottom: -15px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    width: calc(100% - 75px); /* 75px = two 20px-wide scroll-action buttons + 20px-wide expand/collapse button + 15px right margin */
}

.nav-tabs.probe-tabs {
    border: 0;
}

.nav-tabs.probe-tabs li {
    display: inline-block;
    float: none;
}

.nav-tabs.probe-tabs > li.active > a, .nav-tabs.probe-tabs > li.active > a {
    background: linear-gradient(#ddd, #fff);
    border-bottom-color: #ddd;
}
