{% extends "rules/base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'probes/probes.css' %}"/>
<script src="{% static 'probes/probes.js' %}"></script>
<script type="text/javascript">
    $(function() {
        if (read_cookie(probes_tabs_expanded_cookie_name) === '1') {
            toggle_scrollable_probe_tabs();
        } else {
            enable_disable_tab_scroll_buttons();
        }
    });

    $(window).resize(enable_disable_tab_scroll_buttons);
</script>
{% endblock %}

{% block subnavigation %}
<div class="row">
    <div class="col-md-12">
        <a id="probe-tab-style-toggle" class="btn" onclick="return toggle_scrollable_probe_tabs();">&#8862; Expand</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 probe-tab-container scrollable-tabs">
        <a class="btn scroll-action action-left" onclick="return scroll_tabs_left();">&laquo;</a>
        <ul class="nav nav-tabs probe-tabs">
            <!-- TODO: probe tabs go here -->
        </ul>
        <a class="btn scroll-action action-right" onclick="return scroll_tabs_right();">&raquo;</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div>Testing 123</div>
{% endblock %}

{% block sidebar %}
<div class="panel-heading">
<h2 class="panel-title">Suricata</h2>
</div>
{% endblock %}
