{% extends "probes/probes_base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block probecontent %}

{% if elasticsearch %}
{% include "probes/inc_elasticsearch.html" %}
{% else %}
<p>Elasticsearch is disabled.</p>
{% endif %}

<div class="modal fade" id="editProbeModal" tabindex="-1" role="dialog" aria-labelledby="editProbeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editProbeModalLabel">Edit probe</h4>
            </div>
            <form action="{% url 'probes_edit' probe.id %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    {% bootstrap_form editProbeForm %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<script type="text/javascript">
    function deleteProbe() {
        $('#deleteProbeForm').submit();
    }

    function confirmProbeDelete() {
        showConfirmationDialog('Delete probe {{ probe.hostname|escape }}?',
            'Are you sure you want to delete this probe? This action cannot be undone.',
            'Delete',
            'Cancel',
            deleteProbe);
    }
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Probe {{ probe.hostname|escape }}</h2>
        <p class="panel-subtitle">{{ probe.description|escape }}</p>
    </div>
    <div class="panel-body">
        <p>Created on {{ probe.created_date }}</p>
        <p>Last modified on {{ probe.updated_date }}</p>

        {% if request.user.is_staff %}
        <a class="btn btn-default" data-toggle="modal" data-target="#editProbeModal">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit probe
        </a>
        <hr />
        <a class="btn btn-success">
            <span class="glyphicon glyphicon-refresh"></span>
            Update sources
        </a>
        <a class="btn btn-info">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Build rules
        </a>
        <a class="btn btn-danger" onclick="confirmProbeDelete(); return false;">
            <span class="glyphicon glyphicon-trash"></span>
            Delete probe
        </a>
        <form action="{% url 'probes_delete' probe.id %}" method="post" id="deleteProbeForm">
            {% csrf_token %}
        </form>
        {% endif %}
    </div>
</div>

{% if request.user.is_staff %}
<a class="btn btn-primary" data-toggle="modal" data-target="#addProbeModal">
    <span class="glyphicon glyphicon-plus"></span>
    Add probe
</a>
{% endif %}

{% endblock %}
